<?php
// サイトURL
putenv('SITE_URL=');
// cron用許可ユーザー
putenv('CRON_USER=');
// GA
putenv('GA_ID=');
// アドセンス
putenv('AD_CLIENT=');
putenv('AD_SLOT=');
// 各APIキー
putenv('RAKUTEN_APP_ID=');
putenv('RAKUTEN_APP_ID_JS=');
putenv('RAKUTEN_AFFI_ID=');
putenv('YAHOO_APP_ID=');
putenv('YAHOO_AFFI_ID=');
putenv('AMAZON_APP_ID=');
putenv('AMAZON_SECRET_ID=');
putenv('AMAZON_AFF_ID=');
